# ===============================
# Python artifacts
# ===============================
__pycache__/
*.pyc
*.pyo

# packaging
build/
dist/
*.egg-info/
*.egg

# ===============================
# Data folders (exclude)
# ===============================
Kp_fasta/

# ===============================
# Module internal tool folders
# ===============================

kleboscope/modules/kleb_mlst_module/data/
kleboscope/modules/kleb_mlst_module/db/
kleboscope/modules/kleb_mlst_module/perl5/
kleboscope/modules/kleb_mlst_module/scripts/

# ===============================
# Figures / PDFs generated
# ===============================
*.png
*.pdf
*.svg
*.tiff

# ===============================
# Results folders
# ===============================
results/
# Ignore bin folder in MLST module
kleboscope/modules/kleb_amr_module/data/
kleboscope/modules/kleb_mlst_module/bin/
kleboscope/modules/kleb_mlst_module/kleb_mlst_data/
kleboscope/modules/kleb_mlst_module/kleb_mlst_data-v1.0.0.tar.gz
